/*All media query */
/*Mobile phone */
@media only screen and (max-device-width: 768px ){

    .center, .hero{
        width: 80%;
    }

    .hero{
        padding-top: 4%;
    }

    .menu-icon{
        display: block;
    }

    .hero-container{
        background-size: cover;
    }

    .category-container{
        grid-template-columns: auto;
        padding: 20px;
    }

    .about-grid{
        display: block;
        text-align: center;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-container>h1, h1{
        font-size: 25px;
    }

    nav>ul{
        display:none;
    }

    .h1-size{
        font-size: 25px;
    }

    .logo{
        text-align: center;
        margin-left: 32%
    }

    .submit{
        margin-top: 10px;
    }
}

/*Tablets*/
@media only screen and (min-device-width: 600px){
    .menu-icon{
        display: block;
    }

    nav{
        width: 100%;
    }
    
    nav>ul{
        display:none;
    }

    .hero-container{
        background-size: cover;
    }

    .hero{
        width: 80%;
    }

    .category-container{
        grid-template-columns: auto auto;
        padding: 20px;
    }

    .logo{
        text-align: center;
    }

    .about-grid{
        grid-template-columns: auto;
        text-align: center;
    }

    .hero{
        margin-top: 30px;
    }

    .center{
        width: 75%;
    }
}

@media only screen and (min-device-width: 1200px){
    body{
        box-sizing: border-box;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px;
        width: 100%;
    }
    
    header{
        position: relative;
        top: 0px;
        z-index: 1;
    }
    nav>ul{
        display: inline;
    }
    nav{
        position: relative;
        background-color: rgba(255,255,255,0.9);
        border-bottom: solid 4px red;
        overflow:hidden;
    }
    
    nav>h1{
        width: 10%;
        float: left;
        margin-left: 100px;
        padding-right: 50px;
    }

    .logo{
        margin-left: 150px;
    }
    
    ul{
        list-style-type:none;
    }
    
    nav>ul>li{
        float: left;
        padding: 25px 10px 16px 10px;
    }
    
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    
    li>a:hover{
        color: red;
        border-bottom: solid 2px red;
        transition: border-bottom 0.2s linear;
    }
    
    .logo:hover{
        color: red;
    }
    
    .menu-icon{
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        top: 25%;
        right: 4%;
        font-size: 40px;
        border-radius: 5px;
    }
    
    .hero-container{
        background-image: url("images/background.png");
        width: 100%;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 300px;
        margin-top: -21px;
        background-repeat: no-repeat;
        z-index: 10;
    }
    
    .hero{
        padding-top: 2%;
    }
    
    .h1-size{
        font-size: 40px;
    }
    
    .button{
        color: white;
        font-weight: bold;
        background-color: red;
        border-radius: 5px;
        padding: 10px;
        border: none;
    }
    
    .button:hover{
        background-color: rgb(185, 18, 18);
    }
    
    input[type="email"]{
        height: 35px;
        border: solid 1px;
        margin-right: 0px;
        width: 80%;
        border-radius: 5px;
        padding-left: 20px;
        font-size: 15px;
    
    }
    
    input::placeholder{
        padding:10px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .text-center{
        text-align: center;
    }
    
    .category-heading{
        display: block;
        background-color: rgba(214, 214, 214, 0.5);
        color: black;
        padding: 20px;
        text-align: center;
        margin: 0px;
    }
    
    .category-container{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px 150px 20px 150px;
    }
    
    .image-container{
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    
    .category-list-items{
        background-color: white;
        padding: 10px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    }
    
    .overlay{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transition: background-color 1s ease;
    }
    
    .image-container:hover .overlay{
        background-color:rgba(0,0,0,0.9);
    }
    
    hr{
        width: 70%;
    }
    
    .post-summary{
        position: absolute;
        background-color: black;
        padding: 15px;
        color: white;
        bottom: 0px;
        text-align: center;
    }
    
    .post-summary:hover{
        color: rgb(247, 116, 116);
        transition: color 0.5s ease;
    }
    
    .about-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        padding: 20px 150px 20px 150px;
        text-align:left; !important
    }
    
    /*FOOTER CSS*/
    .float-left{
        display: inline;
        padding: 10px;
    }
    
    footer{
        position: relative;
        background-color: #f8fa8275;
        color: black;
        display: block;
        padding: 0px 20px 20px 20px;
        margin-top: 50px;
        border-top: solid 5px red;
    }
    
    .clear-float::after{
        content:" ";
        clear: both;
        display: table;
    }
    
    .center, .hero{
        display: block;
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .logo-footer{
        font-size: 3vw;
        font-weight: 700;
    }
    
    .round-img{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 18%;
    }
    
    .btp{
        position: fixed;
        background-color: black;
        border: solid 1px black;
        padding: 5px;
        border-radius: 5px;
        box-shadow: #f8fa8275;
        bottom: 50px;
        right: 50px;
        z-index: 20000;
    }
    
    .material-icons{
        color: white;
    }
    
    .tof{
        display: none;
    }
    
    .btp:hover .tof{
        display: inline;
        transition: 2s ease-out;
        color: white;
        margin-bottom: 10px;
        opacity: 100%;
    }
    
    .like-dislike{
        position: fixed;
        background-color: black;
        border: solid 1px black;
        padding: 5px;
        border-radius: 5px;
        box-shadow: #f8fa8275;
        top: 50px;
        left: 50px;
        z-index: 30000;
    }
    
    .like-dislike2{
        position: fixed;
        background-color: black;
        border: solid 1px black;
        padding: 5px;
        border-radius: 5px;
        box-shadow: #f8fa8275;
        top: 100px;
        left: 50px;
        z-index: 30000;
    }
    
    .material-icons:hover{
        color: rgb(236, 62, 56);
    }
    
    .category-imageContainer{
        position: relative;
    }
    }